<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper black white-text">
            <a href="/" class="brand-logo center"><img src="/images/fcc-logo1.png"></img></a>
            <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/scrape">/scrape-articles</a></li>
                <li><a href="https://www.freecodecamp.org/news/">/source</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/scrape">/scrape-articles</a></li>
    <li><a href="https://www.freecodecamp.org/news/">/source</a></li>
</ul>


<div id="wrapper">
    <div id="articles"></div>
</div>

<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Notes:</h4>
        <div id="notes"></div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>