html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    width: 250px;
    height: auto;
    display: inline-block;
  }

* {
    font-family: Lato;
}

nav {
    height: 55px;
}

a .brand-logo {
    padding: 5px, 0, 5px, 0;
}

a img {
    height: 30px;
}

a li {
    margin: 5px, 0;
    padding: 5px, 0;
}

.nav-wrapper {
    padding: 0 20px 0 20px;
}

.brand-logo {
    font-family: Roboto Mono, monospace;
    font-size: 12px;
    /* font-family: sax-mono, monospace; */
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }

article {
    margin-bottom: 20px;
}  

.hr-modal {
    width: 90%;
    align-content: left;
}


/* body { background-color: #F2F6D0 }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      } */